#Second day
##second class
*Python

In [3]:
a= "Sameen"
b = 24
print(f"{a} and {b}")

Sameen and 24

In [23]:
a = "I am Sameen Kunwar from pokhara"
b = "NOW I LIVE IN KATHMANDU"
c = "hello kathmandu"
d = "Ilovefood"
print(a.startswith('I a'))
print(b.endswith('U'))
print(d.strip())
print(c.title())
print(a.upper())
print(b.lower())

True
True
Ilovefood
Hello Kathmandu
I AM SAMEEN KUNWAR FROM POKHARA
now i live in kathmandu

In [29]:
x = "Hello me how are you"
y = "gxhjsg%bxbhgaskhx$jhx"
print(x.split(' '))

['Hello', 'me', 'how', 'are', 'you']

In [34]:
#help(str)
y = "jhdhcbdfbc"
print(len(y))

10

In [37]:
#formatted strig
name = "Sameen KUnwar"
age = 24
print(f"My name is {name} and I M {age} years old")

My name is Sameen KUnwar and I M 24 years old

In [40]:
name = "Maya"
age = 52
print("My mother name is", name,". She is ", age)

My mother name is Maya . She is  52

In [42]:
School = "Patan"
location = "Pulchok"
print(f'My school is {School.upper()} and location is {location}')

My school is PATAN and location is Pulchok

In [44]:
#Boolean operators
a = ' '
print(bool(a))
#empty string gives False

True

In [ ]:
#User Input
name = input("Enter your name")
age = int(input("Enter your age"))
output = f"The name of person is {name} and his age is {age}"
print(output)
print(type(age))

# SEcond day

In [1]:
#type conversion
# a = 5/6 // Implicit conversion
# float(), int() are explicit

In [6]:
a = 'sunney'
b = True
print(isinstance(a, str))
print(isinstance(b, bool))

True
True

In [8]:
# python use dynamic typing, java use static typing
# dynamic typing
x = 45
print(type(x))
x = 'hy'
print(type(x))
# static typing
# int x = 45
# x = 'hr', wrong in compatible

<class 'int'>
<class 'str'>

In [10]:
b = 5 
print(b)
c=b==5
print(c)

5
True

In [15]:
a = 4
b = 2
print(a > 2)
print(a !=2)
print(a>=4)
print(b < 1)

True
True
True
False

In [16]:
a = 1
b = False
print(a and b)
print(a and b)
print(not b)

False
False
True

In [21]:
a = 0
b = True
print(not a)
print(isinstance(b, bool))
print(a and b)
print(a or b)

True
True
0
True

In [24]:
a = True
a and print('nice')

nice

In [28]:
a = 5
b = 10
a += a
b *= b
b //= b
print(a)
print(b)

10
1

In [29]:
a = 6
~a

-7

In [32]:
# membership operator
a = 'Sunney'
print('S' in a)
print('a' in a)
print('y' not in a)

True
False
False

In [33]:
b = 'I am fromm Nepal'
print('am' in b)

True

In [34]:
a = 15
b = 15
c = b
print(a is b)
print(a is c)
print(b is c)

True
True
True

In [35]:
a = -1
b = -1
print(a is b)

True

In [37]:
a = 500
b = 500
b = c
print(a is b)
print(a is c)

False
False

#Assignment 2

In [41]:
DOB = int(input('Enter  your birth year '))
Curr_age = 2024 - DOB
print('Current age:', Curr_age)

Enter  your birth year  2000

Current age: 24

In [42]:
celcius = float(input('Enter Celcius degree'))
Fah = celcius * 9/5 + 32
print(Fah)

Enter Celcius degree 0

32.0

In [1]:
age = int(input('Enter an age: '))
print(age > 16 and age < 65)
True and print('Qualified')

Enter an age:  22

True
Qualified

In [12]:
password = input('Enter your password ')
print(password.isalpha())
print(len(password) > 8)
print(len(password.upper()) > 1)
print(len(password) >= 1)

Enter your password

False
False
False
False

In [13]:
email = input('Enter a valid email ')
print('@' in email)
print('.' in email)
True and print('valid')

Enter a valid email  skylersameen1@gmail.com

True
True
valid

In [19]:
age = 15
if age >= 18:
    print('you are grown up')
elif age>= 16:
    print('you are growm up in Nepal')
else:
    print('you are child')

you are child

age = 15
if age >= 18:
    print('you are grown up')
elif age>= 16:
    print('you are growm up in Nepal')
else:
    print('you are child')

In [25]:
age = int(input('Enter age '))
has_license = False
if age > 18:
    print('check license')
    if has_license:
        print('age is fine and you can go')
    else:
        print('Age is greater but has got no license')
else:
    print('Pay fine')

Enter age  20

check license
Age is greater but has got no license

In [29]:
age = int(input("Enter age: "))
if age > 18:
    print("Check license")
    has_license = input("Has license or not, true or false: ").lower() == 'true'
    if has_license:
        print("Age is fine and you can go")
    else:
        print("Age is greater but has got no license")
else:
    print("Pay fine")

Enter age:  20

Check license

Has license or not, true or false:  False

Age is greater but has got no license

In [51]:
for i in range(11):
 print(i)
 print(type(i))

0
<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
7
<class 'int'>
8
<class 'int'>
9
<class 'int'>
10
<class 'int'>

In [34]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [35]:
for i in range(9):
    if i !=5:
        print(i)

0
1
2
3
4
6
7
8

In [36]:
for i in range(5):
    if i == 5:
        continue
    print(i)

0
1
2
3
4

In [37]:
a = 'sunney'
for each_char in a:
    print(each_char)

s
u
n
n
e
y

In [38]:
for i in range(5):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [50]:
for i in range(1,11):
    if i % 2 == 0:
        print(f'Even numbers : {i}')

Even numbers : 2
Even numbers : 4
Even numbers : 6
Even numbers : 8
Even numbers : 10

In [48]:
for i in range(1,10):
    if i % 2 !=0:
        print(i)

1
3
5
7
9

#Assignment

In [2]:
number = int(input('Enter a number '))
if number % 4 == 0 and number % 100 != 0:
    print("yes, its a leap year")
else:
    print('not a leap year')

Enter a number  2020

yes, its a leap year

In [19]:
text = input('Enter a text')
vowels = 'aeiouAEIOU'
count = 0
for char in text:
    if char in vowels:
       count+= 1
print(count)

Enter a text i m sameen kunwar

6

In [20]:
price = input('Enter items prices :').split()
total = 0
for price in price:
    total += float(price)
print('total:', total)

Enter items prices : 22 1.6 33

total: 56.6

In [23]:
year = int(input("Enter a year: "))
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("It is divisible by all; it is a leap year.")
        else:
            print("It is divisible by 100 and 4, but not by 400, so not a leap year.")
    else:
        print("It is just divisible by 4, so it is a leap year.")
else:
    print("It is not divisible by 4, so it is not a leap year.")

Enter a year:  2020

It is just divisible by 4, so it is a leap year.

In [27]:
a = 'This is my favorite place in the World.'
count = 0
for char in a:
    if char not in 'aeiouAEIOU':
        count+=1
print(f"The no of consonent letter is : {count}")

The no of consonent letter is : 28

#Python class day

In [28]:
count=0
while count<10:
    print(count)
    count+=1
print('loop successfully executes')

0
1
2
3
4
5
6
7
8
9
loop successfully executes

In [29]:
password=''
correct_password = 'message'
while password!=correct_password:
    password=input('Enter your password ')
    if password==correct_password:
        print('Access granted ')
    else:
        print('Access denied ')

Enter your password  dygwyedgc

Access denied

Enter your password  message

Access granted

In [ ]:
inputmessage=''
correctp='Babita'
while True: #Infinite loop
    inputmessage=input('Enter a password')
    if inputmessage==correctp:
        print('Access granted')
    else:
        print('Acess notgranted')

Enter a password Babita

Access granted

In [3]:
for i in range(1,11):
    if i==4:
        continue
    print(i)

1
2
3
5
6
7
8
9
10

In [2]:
count=0
while count<10:
    count+=1
    if count==5:
        continue
    print(count)

1
2
3
4
6
7
8
9
10

In [7]:
number=int(input('Enter a number'))
if number>0:
    print('+ number')
elif number==0:
    print(') no')
else:
    print('- no')

Enter a number 0

) no

In [2]:
a=input()
b=input()
c=input()
if a>b and a>c:
    print('highest number')
if b>a and b>c:
    print('b is hughest')
else:
    print('c is highest')

 3
 4
 5

c is highest

In [10]:
no=int(input('Enter a number'))  
n=0
for n in range(0,11):
    output=no*n
    print(output)

Enter a number 4

0
4
8
12
16
20
24
28
32
36
40

In [22]:
n = int(input('Enter a number '))
fact=1
while n!=0:
    fact=fact*n
    n-=1
print(fact)

Enter a number  5

120

In [23]:
i=10
while i!=0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [25]:
word='python'
for char in word:
    print(char)

p
y
t
h
o
n

In [27]:
Input=''
word='maya'
while Input!='maya':
    Input=input('enter enter ')
    if Input=='exit':
        break

enter enter  cdhjdhj
enter enter  exit

In [28]:
for i in range(1,11):
    if i%3==0:
        continue
    print(i)

1
2
4
5
7
8
10

In [30]:
for i in range(1):
    pass

#Python Class

In [34]:
def test_func():
    print('Hello ')
test_func()

Hello

In [36]:
def rect_area(length,breadth): #length and breadth are parameters when defini ng fucntion
    area = length*breadth
    return area
    #print(length)//fucntion program ends right after return

In [39]:
l=5
b=10
area_rect=rect_area(l,b)#l, b are arguments when fucntion is called
print(area_rect)

50

In [40]:
def square(radius):
    print(radius)
    area = 3.14 *radius*radius
    return area

In [44]:
r=4
area=3.14*r*r
print(f'Area of square is {area}')

Area of square is 50.24

In [45]:
def square(radius):
    print(radius)
    area = 3.14 *radius*radius
    return area
square(4)

4

50.24

In [46]:
def square(radius):
    print(radius)
    area = 3.14 *radius*radius
    return area
area1=square(2)
print(area1)

2
12.56

In [47]:
def square(radius):
    print(radius)
    area = 3.14 *radius*radius
    print(area)

In [48]:
a = square(2)
print(a)

2
12.56
None

In [67]:
def square(n):
    result = n*n
    return result

In [68]:
print(square(10))

100

In [69]:
for i in range(10):
    square1 = square(i)
    print(square1)

0
1
4
9
16
25
36
49
64
81

# functions are called first class objects

In [70]:
def add(a,b):
    result=a+b
    return result

In [71]:
b=add #variable can be assigned to function add

In [72]:
sum=b(1,2)
print(sum)

3

In [73]:
a=len
a('mummy')

5

In [74]:
b=print
b('hch')

hch

In [75]:
#function can be passed as parameter to another functionn
def sub(x,y):
    return (x-y)

In [76]:
def double_func(sub,a,b):
    sub1=sub(a,b)
    result=5*sub1
    return result

In [79]:
print(double_func(sub,5,4))

5

In [87]:
def total_p(MP,dis):
    dis_a=dis*0.01*MP
    pay=MP-dis_a
    return pay

In [88]:
total_p(5000,10)

4500.0

# Assignment

In [1]:
def c_to_f(celcius):
    return celcius*9/5+32-celcius
def f_to_c(fahrenheit):
    return (fahrenheit-32)*5/9
c_to_f(32)
f_to_c(0)

-17.77777777777778

In [2]:
def number(n):
    if n>0:
        print('positve')
    if n<0:
        print('negative')
    if n==0:
        print('zero no')
    if n%2==0:
        print('even no')

In [3]:
number(2)
number(-2)
number(0)

positve
even no
negative
even no
zero no
even no

In [5]:
def check_eligibility(age,salary,credit):
    if age>= 21:
        if salary>=30000:
            if credit>=650:
                output='Eligible'
                return output
            else:
                print('Not eligible')
        else:
            print('not eligible')
    else:
        print('not eligible')

In [6]:
check_eligibility(22,30000,700)

'Eligible'

In [7]:
check_eligibility(22,1500,650)

not eligible

In [5]:
total=0
def total_price(original_price, customer_type):
    if customer_type=='regular':
        total=original_price
        print('total',total)
    elif customer_type=='silver':
        total=original_price-0.1*original_price
        return total
    elif customer_type=='Gold':
        total=original_price-0.2*original_price
        return total
    else:
        total=original_price-0.0025*original_price
        return total

In [7]:
total_price(100,'bbbb')

99.75

In [17]:
total_price(1000,'Gold')

800.0

In [9]:
def is_prime(number):
    if number>0:
        if number%number==0:
            if number%1==0:
                return True
                print(i)
            else:
                return False
        else:
            return False

In [10]:
is_prime(3)

True

In [11]:
for i in range(1,101):
    is_prime1=is_prime(i)
    print(is_prime1)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

# Exception Handling

In [12]:
#check upper case lette in a string
#use isupper()

In [14]:
def divide(a,b):
    return a//b
divide(4,2)

2

In [26]:
try:
    num=int(input('Enter a number '))
    result=6/num
    print(result)
except ZeroDivisionError as e:
    print('cannt not be zero', e)
except ValueError:
    print('cant be a string ')
print('Sameen')

Enter a number  ##

cant be a string
Sameen

In [28]:
try:
    num=int(input('Enter a number'))
    total=10/num
    print(result)
except Exception as e:
    print(f'Exception occured as {e}')
print('Sameen')

Enter a number one

Exception occured as invalid literal for int() with base 10: 'one'
Sameen

In [29]:
try:
    word=input('enter')
    a=word[6]
    print(a)
except Exception as e:
    print(f'error occred as {e}')

enter wee

error occred as string index out of range

In [31]:
try:
    word=input('enter')
    a=word[6]
except Exception as e:
    print(f'error occred as {e}') 
else:
    print('No exception occured')
    print(f'The output is {a}')

enter weeeeeeeee

No exception occured
The output is e

In [33]:
try:
    word=input('enter')
    a=word[6]
except Exception as e:
    print(f'error occred as {e}') 
else:
    print('No exception occured')
    print(f'The output is {a}')
finally:
    print('Exiting the slicing process')

enter weeeeee

No exception occured
The output is e
Exiting the slicing process

In [38]:
try:
    word=input('enter a message')
    position=int(input('Enter a slicing index number '))
    value=word[position-1]
except IndexError as e:
    print(f'error occred as {e}') 
except ValueError as e:
    print(f'error occured as {e}')
else:
    print('No exception occured')
    print(f'The output is {value}')
finally:
    print('Exiting the slicing process')

enter a message sameen
Enter a slicing index number  2

No exception occured
The output is a
Exiting the slicing process

In [39]:
#custom exception: triggering exception manually by user

In [40]:
def check_age(age):
    if age<0:
        raise ValueError('age cannot be negative')
        return age

In [42]:
try:
    age=int(input('Enter a age'))
    age_flag=check_age(age)
except Exception as e:
    print(f'eror occur as {e}')
else:
    print(age)

Enter a age -5

eror occur as age cannot be negative

In [57]:
#countting number of uppercase letter in python
def count_upper(input_string):
    count=0
    for char in input_string:
        if char.isupper():
            count+=1
    return count

In [58]:
input_string=input('Enter an input')
total_count=count_upper(inputt)
print(f'The total upper count in a string is {total_count}')

Enter an input SaMMM

The total upper count in a string is 3

# Assignment

In [61]:
def str_int(strr):
    integer=int(strr)
    return integer

In [62]:
str_int('123')

123

In [64]:
try:
    strr=input('Enter strr')
    result=str_int(strr)
except Exception as e:
    print(f'error occur due to {e}')
else:
    print('result is ', result)
finally:
    print('try block executed')

Enter strr weee

error occur due to invalid literal for int() with base 10: 'weee'
try block executed

In [68]:
func(i)

Enter a number 1

1

Enter a number 2

2

Enter a number 3

3

Enter a number 4

4

Enter a number 5

5

In [76]:
try:
    result=func(i)
except Exception as e:
    print('input error ', e)
    i=int(input('Enter number again'))
else:
    print(result)

None

# File_Handling

In [79]:
file=open('example.txt', 'r')

In [80]:
print(file)

<_io.TextIOWrapper name='example.txt' mode='r' encoding='cp1252'>

In [83]:
content=file.read()
print(content)
file.close()

In [84]:
file.read()

ValueError: I/O operation on closed file.

# Context Manager

In [85]:
with open('example.txt', 'r') as file:
    content=file.read()
    print(content)
content=file.read()
print(content)

sameen
kunwar
pokhara
Nepal

ValueError: I/O operation on closed file.

In [88]:
 with open('example.txt', 'w') as file:
     file.write('\n Hello Sameeen')
 with open('example.txt', 'r') as file:
     content=file.read()
     print(content)

 Hello Sameeen

In [89]:
 with open('example.txt', 'a') as file:
     file.write('\n Hello Sameeen')
 with open('example.txt', 'r') as file:
     content=file.read()
     print(content)

 Hello Sameeen
 Hello Sameeen

In [95]:
with open('example.txt', 'a') as file:
     file.write('\t Hello Sameeen')
 with open('example.txt', 'r') as file:
     content=file.read()
     print(content)

IndentationError: unindent does not match any outer indentation level (<string>, line 3)

In [96]:
with open('samm.txt', 'w') as file:
    file.write('\n mee')

In [97]:
# making exception when reading file which donot exist
file_name='sameen.txt'
try:
    with open(file_name, 'r') as f:
        content=f.read()
        print(content)
except Exception as e:
    print('file donot exist', e)

file donot exist [Errno 2] No such file or directory: 'sameen.txt'

In [100]:
 with open('example.txt', 'r') as file:
     content=file.readlines()
     print(content)

['hahaha\n', 'hehehe\n', ' Hello Sameeen\n', ' Hello Sameeen']

In [101]:
with open('example.txt', 'r') as file:
    content=file.readline()
    print(content)
    content=file.readline()
    print(content)

hahaha

hehehe

In [105]:
def analyse_file(filename):
    with open(filename, 'r') as file:
        lines = file.readlines()
        lines_num=len(lines)
        word_count=0
        longest_word=''
        for each_line in lines:
            total_words=each_line.split()
            for each_word in total_words:
                word_count+=1
                if len(each_word)>len(longest_word):
                    longest_word=each_word
        print('no of lines', lines_num)
        print('no of word in file', word_count)
        print('longest word', longest_word)

In [106]:
analyse_file('example.txt')

no of lines 4
no of word in file 6
longest word Sameeen

In [107]:
def analyse_file(filename):
    try:
        with open(filename, 'r') as file:
            lines = file.readlines()
            lines_num=len(lines)
            word_count=0
            longest_word=''
            for each_line in lines:
                total_words=each_line.split()
                for each_word in total_words:
                    word_count+=1
                    if len(each_word)>len(longest_word):
                        longest_word=each_word
            print('no of lines', lines_num)
            print('no of word in file', word_count)
            print('longest word', longest_word)
    except Exception as e:
        print('error as e', e)

In [110]:
analyse_file('ysugxy.txt')

error as e [Errno 2] No such file or directory: 'ysugxy.txt'

In [130]:
def sum_of_digits(number):
    number=abs(number)
    str_num=str(number)
    sum=0
    for each_num in str_num:
        each_num=abs(int(each_num))
        sum+=int(each_num)
    return sum
sum_of_digits(-123-4)

10

In [137]:
def sum_of_number(number):
    str_num=str(number)
    sum=0
    i=0
    while i<len(str_num):
        if str_num[i]=='-':
            number=int(str_num[i]+str_num[i+1])
            sum+=number
            i+=2
        else:
            sum+=int(str_num[i])
            i+=1
    return sum

In [144]:
sum_of_number(1-234)

4

In [140]:
sum_of_number(1-23)

0

In [160]:
# Practice
def analyse_file(filename):
    try:
        with open(filename, 'r') as f:
            lines=f.readlines()
            total_l=len(lines)
            count=0
            long_word=''
            for each_line in lines:
                total_w=each_line.split()
                for each_word in total_w:
                    count+=1
                    if len(each_word)>len(long_word):
                        long_word=each_word
    except Exception as e:
        print('file error', e)
    else:
        print('total lines', total_l)
        print('total words', count)
        print('Longest word', long_word)
  
            
analyse_file('pracce.txt')

file error [Errno 2] No such file or directory: 'pracce.txt'

In [151]:
def analyse_file(filename):
    with open(filename, 'r') as file:
        lines = file.readlines()
        lines_num=len(lines)
        word_count=0
        longest_word=''
        for each_line in lines:
            total_words=each_line.split()
            for each_word in total_words:
                word_count+=1
        return word_count
analyse_file('practice.txt')

14